In [18]:
import pandas as pd
import re
import numpy as np

In [19]:
def get_all_emails(text):
    EMAIL_REGEX = r"""(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"""
    rows = text.split(sep='\n')
    emails = [re.search(EMAIL_REGEX, row.lower()) for row in rows]
    emails = [email.group() for email in emails if email]
    return emails


def get_one_email(row):
    EMAIL_REGEX = r'''(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])'''
    emails = re.search(EMAIL_REGEX, row.lower())
    if emails:
        return emails.group()


def get_telegram_contacts(row):
    TELEGRAM_NAME_REGEX = r'[\s:](@[A-Za-z0-9_]{3,20})' #\s or \b
    contacts = re.findall(TELEGRAM_NAME_REGEX, row.lower())
    return contacts


def get_mobile_numbers(row):
    MOBILE_NUMBER_REGEX = r'(?:\+7|\b7|\b8)(?:(?:[\D\(]){,2}\d){10}'
    mobile_numbers = re.findall(MOBILE_NUMBER_REGEX, row.lower())
    return mobile_numbers


def get_url_from_text(row):
    URL_REGEX = r'(https?:(?:\/{1,2}|\\{1,2})[^\s\(\)\[\]]+\w\b)'
    urls = re.findall(URL_REGEX, row.lower())
    return urls


def get_time_HHMM(row, need_replace=False):
    '''–¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å "—Å 11:30 –¥–æ 18 —á–∞—Å–æ–≤"'''
    TIME_REGEX = r'(?:[0-1]?\d|2[0-3]):[0-5]?\d.'
    if need_replace:
        row = re.sub(TIME_REGEX, 'TIME', row.lower())
        return row
    else:
        time_HHMM = re.findall(TIME_REGEX, row.lower())
        return time_HHMM


def get_salary(row):
    FROM_TO_REGEX = r'(?:–æ—Ç|–¥–æ){0,1}\s{0,1}\d{1,4}[k–∫—Ç\-\s$]{0,1}(?:\d+00+){1}'
    row_without_time_hhmm = get_time_HHMM(row.lower(), need_replace=True)
    salary = re.findall(FROM_TO_REGEX, row_without_time_hhmm)
    return salary

In [20]:
df = pd.read_csv('./data/main.csv')
df = df[df.salary.notna()]

In [21]:
df['test'] = df.text.apply(get_salary)
df[['salary', 'test']].sample(15)

                       salary                           test
3337                60-80 000                       [80 000]
4710              200–ö - 250–ö                             []
6173                 70–ö-110–ö                             []
4749                 400-700–∫                     [ 400-700]
5451                  –¥–æ 300–∫                             []
6274               –¥–æ 150¬†000                   [–¥–æ 150¬†000]
2316                  –û—Ç 2000                      [–æ—Ç 2000]
2476                 150-275k                             []
5545           50 000-100 000             [ 50 000, 100 000]
3301                   52 600       [\n52 600,  2500,  3000]
3389           80 000 -95 000  [ 80 000, 95 000, 2000, 2000]
2717               –¥–æ 180 000                   [–¥–æ 180 000]
3568               100-140—Ç—ã—Å                             []
3783  –æ—Ç 160 000 ‚ÇΩ –¥–æ 200 000       [–æ—Ç 160 000, –¥–æ 200 000]
3529               –¥–æ 200 000                   [–¥–æ 200 000]

In [22]:
len(df[df.test.apply(len) == 0]) / len(df)

0.45024469820554647

In [23]:
test = df[df.test.apply(len) == 0]
test

,text,vacancy,IT,label,salary,test
2307,#Java #Spring Framework #spb\n–ù–∞—à –∫–ª–∏–µ–Ω—Ç- –∫–æ–º...,1,NaN,Java-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,120-250–∫,[]
2337,"–ú–µ–Ω–µ–¥–∂–µ—Ä –ø—Ä–æ–µ–∫—Ç–æ–≤\n–≤¬†INTECH¬†‚Äî IT-–∫–æ–º–ø–∞–Ω–∏—è, –≤–µ–¥...",1,NaN,Project-–º–µ–Ω–µ–¥–∂–µ—Ä,120–ö,[]
2366,Data Scientist (Pricing)\n–ú–æ—Å–∫–≤–∞.\n300–ö.\n\n–û ...,1,NaN,Data Scientist,300–ö,[]
2396,–¢–µ—Ö–Ω–∏—á–µ—Å–∫–∏–π –¥–∏—Ä–µ–∫—Ç–æ—Ä\n–≤¬†–ê–π-–¢–µ–∫–æ¬†‚Äî —Å–∏—Å—Ç–µ–º–Ω—ã–π –∏–Ω...,1,1.0,IT-–¥–∏—Ä–µ–∫—Ç–æ—Ä,200–ö-250–ö,[]
2401,#–≤–∞–∫–∞–Ω—Å–∏—è #Android #fulltime #–¢—é–º–µ–Ω—å\n\nAndroi...,1,NaN,Android-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–æ—Ç 90 –¥–æ 170 —Ç.,[]
...,...,...,...,...,...,...
6557,"Frontend (Vue, TypeScript) —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫\nRemote...",1,NaN,Frontend-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,170–ö¬†‚Äî 210–ö,[]
6572,Data Scientist\n–≤¬†ATI.SU¬†‚Äî —Ä–∞–∑—Ä–∞–±–∞—Ç—ã–≤–∞–µ–º –∏–Ω–Ω–æ–≤...,1,NaN,Data Scientist,150–ö¬†‚Äî 230–ö,[]
6574,#–≤–∞–∫–∞–Ω—Å–∏—è #–°–ü–ë \n–ò—â—É –∫ —Å–µ–±–µ –≤ –∫–æ–º–∞–Ω–¥—É futureco...,1,NaN,HR-—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç,40K,[]
6583,#—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫ #JS #JavaScript #nodejs #moscow #...,1,NaN,Fullstack-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,150-250k,[]
6629,#job #–≤–∞–∫–∞–Ω—Å–∏—è #–æ—Ñ–∏—Å #—É–¥–∞–ª–µ–Ω–∫–∞ #senior #fronte...,1,NaN,Frontend-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,"$3-3,5–∫",[]

In [24]:
def get_salary_two(row):
    FROM_TO_REGEX = r'\b(?:–æ—Ç|–¥–æ|\$){0,1}\s{0,1}\d{1,4} *(?:k|K|–∫|–ö|\$|,\d(?:k|k|–∫|–ö|$)| *—Ç(?:—ã—Å|\.))'
    row_without_time_HHMM = get_time_HHMM(row.lower(), need_replace=True)
    salary = re.findall(FROM_TO_REGEX, row_without_time_HHMM)
    return salary

In [25]:
 df.loc[df.test.apply(len) == 0, 'test'] = df[df.test.apply(len) == 0].text.apply(get_salary_two)

In [26]:
df.sample(30)

,text,vacancy,IT,label,salary,test
2379,Expert Java Developer/–ê—Ä—Ö–∏—Ç–µ–∫—Ç–æ—Ä Java\n\n–ö–æ–º–ø–∞...,1,1.0,Java-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,250 000-350 000,"[ 250 000, 350 000]"
3851,"#jobs –í–∞–∫–∞–Ω—Å–∏—è: NLP, Machine learning —Å–ø–µ—Ü–∏–∞–ª–∏...",1,NaN,Deep Learning Engineer,200-300–ö,[\n200-300]
3576,Frontend Team Lead\n–≤¬†b2b-—Å–µ—Ä–≤–∏—Å –¥–ª—è –º–µ–¥–∏–∞ –∏¬†e...,1,1.0,Frontend-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,250–ö,[–æ—Ç¬†250–∫]
3389,1.–í–µ–¥—É—â–∏–π –ø—Ä–æ–≥—Ä–∞–º–º–∏—Å—Ç 1—Å\n2. –ò—Ä–∫—É—Ç—Å–∫\n3. 80 00...,1,NaN,1C-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,80 000 -95 000,"[ 80 000, 95 000, 2000, 2000]"
3124,Senior/Lead DevOps\n–ú–æ—Å–∫–≤–∞ –∏–ª–∏ —É–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç...,1,1.0,"–ò–Ω–∂–µ–Ω–µ—Ä –∏–Ω—Ñ—Ä–∞—Å—Ç—Ä—É–∫—Ç—É—Ä—ã, DevOps",–î–æ¬†400–ö,[–¥–æ¬†400–∫]
3229,#–≤–∞–∫–∞–Ω—Å–∏—è #–ú–æ—Å–∫–≤–∞ #java #middle #senior #remot...,1,NaN,Java-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,190k - 220k,"[190k, 220k, 290k, 310k]"
3660,Project Manager / Delivery Manager\n–≤¬†Karuna¬†‚Äî...,1,NaN,Project-–º–µ–Ω–µ–¥–∂–µ—Ä,100–ö¬†‚Äî 200–ö,"[100–∫, 200–∫]"
5065,‚Ä¢ Python/Django —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫ / we‚Å¢b developer (...,1,NaN,Python-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,70 000 ‚Äî 120 000,"[ 70 000, 120 000]"
2719,#–≤–∞–∫–∞–Ω—Å–∏—è #—É–¥–∞–ª–µ–Ω–Ω–æ #—É–¥–∞–ª–µ–Ω–∫–∞ #php #symfony #r...,1,NaN,PHP-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–æ—Ç 150.000 –¥–æ 180.000,[]
3859,#–≤–∞–∫–∞–Ω—Å–∏—è #fulltime #remote #–ú–æ—Å–∫–≤–∞ #RubyOnRai...,1,NaN,Ruby-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–æ—Ç 100 000 –¥–æ 250 000,"[–æ—Ç 100 000, –¥–æ 250 000]"
5934,#–≤–∞–∫–∞–Ω—Å–∏—è #php #middle #—É–¥–∞–ª–µ–Ω–∫–∞ #—Ä—Ñ \n–ö–æ–º–ø–∞–Ω–∏...,1,NaN,PHP-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,100 000 - 160 000,"[ 100 000, 160 000]"
5451,#javascript #react #msk\n–≠–∫–æ—Å–∏—Å—Ç–µ–º–∞ –í–¢–ë - —ç—Ç–æ...,1,NaN,Java Script —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–¥–æ 300–∫,[–¥–æ 300–∫]
5727,#–≤–∞–∫–∞–Ω—Å–∏—è #job #fulltime #remote #senior #midd...,1,NaN,iOS-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,150 -260k,[260k]
3003,Ruby Developer\n–≤ Wallarm ‚Äî –ø–ª–∞—Ç—Ñ–æ—Ä–º–∞ —Å –∏—Å–∫—É—Å—Å...,1,NaN,Ruby-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–û—Ç 150–ö,[–æ—Ç 150–∫]
3480,#–≤–∞–∫–∞–Ω—Å–∏—è #office #fulltime #frontend #middle ...,1,NaN,Frontend-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,185 000 -250 000,"[ 185 000, 250 000, 2000, 2000]"
5775,–ü–†–û–ì–†–ê–ú–ú–ò–°–¢ 1–°\n–≥.–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É\n–∑/–ø 80 000 ‚Äì...,1,NaN,1C-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,80 000 ‚Äì 90 000,"[ 80 000, 90 000, 989-700]"
6453,Team Lead C#\n–≤¬†Right Line¬†‚Äî —Ä–æ—Å—Å–∏–π—Å–∫–∞—è —Ñ–∏–Ω—Ç–µ—Ö...,1,NaN,–°#-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,200–ö-270–ö,"[200–∫, 270–∫]"
2522,–í–∞–∫–∞–Ω—Å–∏—è: Technical Lead\n–ö–æ–º–ø–∞–Ω–∏—è: Haulmont\n...,1,NaN,Java-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–æ—Ç 140 000 –¥–æ 250 000,"[–æ—Ç 140 000, –¥–æ 250 000]"
3610,#–≤–∞–∫–∞–Ω—Å–∏—è #mobile #developer #senior #middle #...,1,NaN,Android-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–æ—Ç 1000 –¥–æ 1500 —Ä./—á–∞—Å,"[–æ—Ç 1000, –¥–æ 1500]"
4389,#Almaty#Flutter#Frontend-developer\n- IT –∫–æ–º–ø–∞...,1,NaN,Frontend-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,$800 –¥–æ $1500,[1500]
2840,#–≤–∞–∫–∞–Ω—Å–∏—è #–ê–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü–∏—è #QA #–°–∞–Ω–∫—Ç–ü–µ—Ç–µ—Ä–±—É—Ä–≥ #...,1,1.0,QA-–ò–Ω–∂–µ–Ω–µ—Ä,–æ—Ç 100 000 –¥–æ 180 000,"[–æ—Ç 100 000, –¥–æ 180 000]"
4146,#—Å–∏—Å—Ç–µ–º–Ω—ã–π_–∞–Ω–∞–ª–∏—Ç–∏–∫ #system_analyst #—É–¥–∞–ª–µ–Ω–∫–∞ ...,1,NaN,–°–∏—Å—Ç–µ–º–Ω—ã–π –∞–Ω–∞–ª–∏—Ç–∏–∫,–æ—Ç 150 —Ç.—Ä. –¥–æ 280 —Ç.—Ä.,"[–æ—Ç 150 —Ç., –¥–æ 280 —Ç.]"
5427,#–≤–∞–∫–∞–Ω—Å–∏—è #—Ä–∞–±–æ—Ç–∞ #–ú–æ—Å–∫–≤–∞ #—É–¥–∞–ª—ë–Ω–∫–∞ #fulltime ...,1,NaN,iOS-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,130-160,[]
5413,#–≤–∞–∫–∞–Ω—Å–∏—è #ios #remote\n–ú—ã –≤ –ø–æ–∏—Å–∫–µ —Å–∏–ª—å–Ω–æ–≥–æ i...,1,NaN,iOS-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,2000$ - 4900$,"[ 2000, 4900]"
5268,#–≤–∞–∫–∞–Ω—Å–∏—è #ios #swift\n\n–í–∞–∫–∞–Ω—Å–∏—è: iOS —Ä–∞–∑—Ä–∞–±–æ...,1,NaN,iOS-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–æ—Ç 120 000 –¥–æ 180 000,"[–æ—Ç 120 000, –¥–æ 180 000]"
2299,–í–µ–¥—É—â–∏–π —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫ 1–° –ø–æ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏—á–µ—Å–∫–∏–º –≤–æ–ø—Ä...,1,NaN,1C-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,160¬†000 - 220 000,"[ 160¬†000, 220 000]"
6421,#Java #msk\n–§–∏–Ω—Ç–µ—Ö –∫–æ–º–ø–∞–Ω–∏—è –ø–æ —Ä–∞–±–æ—Ç–µ —Å –ø—Ä–æ–≥—Ä...,1,NaN,Java-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,250-300,[ 250-300]
3245,–í–∞–∫–∞–Ω—Å–∏–∏ –≤¬†devtodev\nüîπ–ü—Ä–æ–¥—É–∫—Ç–æ–≤—ã–π –∞–Ω–∞–ª–∏—Ç–∏–∫ –ü–µ—Ä...,1,NaN,–ù–µ—Å–∫–æ–ª—å–∫–æ –≤–∞–∫–∞–Ω—Å–∏–π,100–ö-150–ö,"[ 100–∫, 150–∫, 70–∫, 150–∫]"
6448,"‚Ä¢ Backend-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫ (Python, Django) –≤ –ö–æ–º–ø–ª...",1,NaN,Backend-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,40 000 ‚Äî 80 000,"[ 40 000, 80 000]"
5738,#senior #php #spb\n\n–¢—É—Ä–±–æ–¥–∏–ª–µ—Ä –∑–∞–Ω–∏–º–∞–µ–º—Å—è –∞–≤—Ç...,1,NaN,PHP-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,–æ—Ç 100 000,[–æ—Ç 100 000]

In [27]:
len(test[test.test.apply(len) == 0]) / len(df)

0.45024469820554647